<h1><strong>Disaster Post List</strong></h1><br>
  <%= link_to 'New', new_post_path, class:'btn btn-success' %>
  <%= link_to 'Category', categories_path, class:'btn btn-info' %>

 <table class="table table-hover">
   <thead>
     <td><strong>Title</strong></td>
     <td><strong>Content</strong></td>
     <td><strong>Category</strong></td>
     <td><strong>Address</strong></td>
     <td><strong>User</strong></td>
     <td><strong>City<strong></td>
     <td><strong>Country<strong></td>
     <td><strong>Action<strong></td>
 </thead>
   <% @posts.each do |post| %>
     <tr>
       <td><%= post.title %></td>
       <td><%= post.content %></td>
       <td><%= post.categories.pluck(:name).join(',') %></td>
       <td><%= "#{post.region&.name} #{post.province&.name} #{post.city&.name} #{post.barangay&.name} #{post.address}" %></td>
       <td><%= post.user&.email %></td>
       <td><%= Geocoder.search(post.ip_address).first&.city %></td>
       <td><%= Geocoder.search(post.ip_address).first&.country %></td>
   <td>
    <%= link_to 'Show', post_path(post), class:'btn btn-primary' %>
    <%= link_to 'Edit', edit_post_path(post), class:'btn btn-warning' if policy(post).edit? %>
    <%= button_to 'Delete', post_path(post), method: :delete,  class:'btn btn-danger' if policy(post).destroy? %>
    <%= link_to 'Comments', post_comments_path(post),  class:'btn btn-info' %>
    <%= link_to 'New Comment', new_post_comment_path(post),  class:'btn btn-success' %>
   </td>
     </tr>
   <% end %>
 </table>

 <%= paginate @posts %><br>
 <%= link_to 'Export', posts_path(format: :csv, page: params[:page]), class:'btn btn-secondary' %><br>
 <%= form_with(url: csv_imports_path, method: :post, local: true, multipart: true) do |form| %><br>
   <%= form.file_field :file %>
   <%= form.submit 'Import CSV', class:'btn btn-secondary' %>
 <% end %>
   
